
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('https://getwallpapers.com/wallpaper/full/4/5/3/29327.jpg');
    background-size: cover;

}
.formulario{
  width: 40%;
  padding: 50px;
  height: 100%;
  margin:  auto;
  border: #ccc solid 3px;
  transform: translateY(3%);
}
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0;
  display: inline-block;
  border: 3px solid #ccc;
  box-sizing: border-box;
}

.button_login {
  background-color: #04AA6D;
  color: white;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 5px 205px;
  background-color: #3682f4;
  transform: translateY(140%);
}

.imgcontainer {
  text-align: center;
  margin: 0px 0 6px 0;
}

img.avatar {
  width: 25%;
  border-radius: 100%;
}

.container {
  padding: 16px;
  
}

span.psw {
  float: right;
  padding-top: 16px;
}

.imgcontainer_reg {
  width: 100%;
  height: auto;
  position: fixed;
  top: 120px;
}
img.avatar_reg {
  width: 10%;
  border-radius: 100%;
}
.formulario_reg{
  width: 50%;
  padding: 40px;
  height: 100%;
  margin:  auto;
  border: #ccc solid 3px;
  transform: translateY(3%);
}
.container_reg {
  padding: 16px;
  width: 60%;
  transform: translateX(55%);
  
}
.bt_reg {
  background-color: #04AA6D;
  text-align: center;
  color: white;
  padding: 12px 10px;
  border: #ccc solid 2px;
  margin:  auto;
  cursor: pointer;
  width: 70%;
  transform: translateX(22%);
}
.bt_file{
  background-color: #04AA6D;
  cursor: pointer;
  text-align: center;
  color: white;
  padding: 10px 10px;
  border-radius: 10px;
  width: 25%;
  position: fixed;
  top: 350px;
  right: 68%;
}
.bt_file:hover{
  opacity: 0.8;
}
.public_file{
  width: 900px;
  height: 180px;
  background-color: antiquewhite;
  margin: auto;
  position: fixed;
  border: #ccc solid 2px;
  top: 95px;
  left: 300px;
}
.public_file_title{
  width: 900px;
  height: 40px;
  background-color: antiquewhite;
  position: fixed;
  border: #ccc solid 2px;
  top: 50px;
  left: 300px;
}
.private_file{
  width: 900px;
  height: 180px;
  background-color: antiquewhite;
  margin: auto;
  position: fixed;
  border: #ccc solid 2px;
  top: 365px;
  left: 300px;
}
.private_file_title{
  width: 900px;
  height: 40px;
  background-color: antiquewhite;
  position: fixed;
  border: #ccc solid 2px;
  top: 320px;
  left: 300px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 181%;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 4% 0% 2% 10%;
  background-color: darkturquoise;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #04AA6D;
  color: white;
}
.container_perfil_nav{
  width: 20%;
  height: 84.5%;
  background-color: antiquewhite;
  margin: auto;
  position: fixed;
  border: #ccc solid 2px;
  top: 8%;
  left: 3%;
}
img.avatar_perfil {
  width: 100%;
  border-radius: 100%;
}
.nom_usu{
  font-family: new times roman;
  font-size: 20px;
  color: #000000;
  text-align: center;
}
.container_SA{
  width: 72%;
  height: 84%;
  background-color: antiquewhite;
  margin: auto;
  position: fixed;
  border: #ccc solid 2px;
  top: 8%;
  left: 25%;
}
div.edit_contener{
  width: 70%;
  height: 85%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  background-color: antiquewhite;
  margin: auto;
  position: fixed;
  border: #ccc solid 2px;
  top: 8%;
  left: 25%;
}
.container_ELA{
  width: 71%;
  height: 84%;
  background-color: antiquewhite;
  margin: auto;
  position: fixed;
  border: #ccc solid 2px;
  top: 8%;
  left: 25%;
}
.container_AA{
  width: 72%;
  height: 84%;
  background-color: antiquewhite;
  margin: auto;
  position: fixed;
  border: #ccc solid 2px;
  top: 8%;
  left: 25%;
  border-radius: 30px;
}
.AA_text{
  width: 60%;
  height: 60%;
  position: fixed;
  text-align: center;
  top: 13%;
  left: 30%;
}
.AA_text_VA{
  width: 25%;
  height: 60%;
  position: fixed;
  text-align: center;
  top: 13%;
  left: 30%;
}
.AA_button_VA{
  width: 15%;
  height: 8%;
  position: fixed;
  text-align: center;
  top: 18%;
  left: 75%;
  border-radius: 10px;
  background-color: #04AA6D;
}

.container_VA{
  width: 73%;
  height: 84%;
  background-color: antiquewhite;
  margin: auto;
  position: fixed;
  border: #ccc solid 2px;
  top: 8%;
  left: 25%;
  border-radius: 20px;
}
.container_text{
  width: 25%;
  height: 84%;
  position: fixed;
  top: 15%;
  left: 27%;
  text-align: center;
}
.formulario_SA{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.container_imgSA{
  width: 40%;
  height: 77%;
  background-color: rgb(27, 144, 240);
  margin: auto;
  position: fixed;
  border: #ccc solid 2px;
  top: 10%;
  left: 55%;
  border-radius: 50px;

}
.avatar_SA{
  width: 90%;
  border-radius: 50%;
  margin: auto;
}
.imgcontainer_SA{
  width: 15%;
  text-align: center;
  margin: auto;
  position: fixed;
  top: 20%;
  left: 68%;
}
.bt_SA{
  background-color: #04AA6D;
  margin: auto;
  cursor: pointer;
  text-align: center;
  color: white;
  padding: 10px 10px;
  border-radius: 10px;
  width: 25%;
  position: fixed;
  top: 56%;
  right: 11%;
}
.bt_SA:hover{
  opacity: 0.8;
}
.bt_aceptarSA{
  background-color: #04AA6D;

  text-align: center;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  width: 25%;
  flex-wrap: wrap;
  position: fixed;
  top: 65%;
  right: 11%;
}
.bt_aceptarSA:hover{
  opacity: 0.8;
}
.nav_perfil{
  width: 10%;
  height: 15%;

  margin: auto;
  position: fixed;
  top: 59%;
  left: 4%;
}
.nav_perfil  li{
  background-color: #3682f4;
  display: inline;
  width: 100%;
}
.edit_cont{
  width: 100%;
  height: auto;
  background-color: blue;
}
.container2{
  width: 75%;
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-gap: 30px;
  background-color: bisque;

}
.item{
  width: auto;
  cursor:pointer;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.5);
  transition: all 0.3s ease-in-out;
  
}

.item:hover{
  transform: scale(1.1);
}

.item-img{
  max-width: 40%;
  display: block;
}

@media screen and (min-width: 590px){
  .container2{
      grid-template-columns: repeat(1,1fr);
  }
}

@media screen and (min-width: 960px){
  .container2{
      grid-template-columns: repeat(7,1fr);
  }
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 85%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  /* background-color: #111; */
}

/* Control the right side */
.right {
  right: 0;
  /* background-color: red; */
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

.file-select {
  position: relative;
  display: inline-block;
}

.file-select::before {
  background-color: #5678EF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: 'Seleccionar'; /* testo por defecto */
  position: absolute;
  position: fixed;
  top: 80%;
  left: 5%;
  padding: 10px 20px;
}

.file-select input[type="file"] {
  opacity: 0;
  width: 200px;
  height: 32px;
  display: inline-block;
}

#src-file1::before {
  content: 'Seleccionar Archivo 1';
}

#src-file2::before {
  content: 'Seleccionar Archivo 2';
}

.conteiner_ela_text{
  width: 64%;
  height: 70%;
  background-color: #ccc;
  margin: auto;
  position: fixed;
  border: #ccc solid 2px;
  top: 15%;
  left: 29%;
  border-radius: 70px;
  text-align: center;
}

.text_label_ELA{
  margin: auto;
  position: fixed;
  top: 30%;
  left: 35%;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
.button_ELA{
  background-color: #04AA6D;
  margin: auto;
  cursor: pointer;
  text-align: center;
  color: white;
  padding: 10px 10px;
  border-radius: 10px;
  width: 25%;
  position: fixed;
  top: 50%;
  left: 35%;
}

.container_AA_view{
  width: 60%;
  height: 55%;
  background-color: #ccc;
  position: fixed;
  top: 30%;
  left: 30%;
  border-radius: 20px;

}
.container_AA_view >.item{
  width: auto;
  cursor:pointer;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.5);
  transition: all 0.3s ease-in-out;
  
}

.container_AA_view >.item:hover{
  transform: scale(1.1);
}

.container_AA_view >.item-img{
  max-width: 40%;
  display: block;
}

@media screen and (min-width: 590px){
  .container_AA_view{
      grid-template-columns: repeat(1,1fr);
  }
}

@media screen and (min-width: 960px){
  .container_AA_view{
      grid-template-columns: repeat(7,1fr);
  }
}
.edit_contener_text{
  width: 60%;
  height: 80%;
  background-color: #ccc;
  position: fixed;
  top: 10%;
  left: 30%;
  background-color: rgba (9, 10, 10, 0.4);


}

.container3{
  width: 75%;
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-gap: 30px;
  background-color: bisque;

}

@media screen and (min-width: 590px){
  .container3{
      grid-template-columns: repeat(1,1fr);
  }
}

@media screen and (min-width: 960px){
  .container3{
      grid-template-columns: repeat(3,1fr);
  }
}